body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  input[type="text"] {
    padding: 6px 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #f50800;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  main {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #c51313;
    color: #fff;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #eaeaea;
  }
  
  img {
    max-width: 100px;
    height: auto;
  }
  